
      <gridster [options]="options" id="grid-customized-scroll">
          <button class="btn btn-warning mb-1" (click)="addItem()">Add grids</button>
          <gridster-item [item]="item" *ngFor="let item of dashboard" class=" drag-handler">
            <div class="button-holder">
              <div *ngIf="item.hasContent">
              
                <div class="drag-handler gridster-item-moving" 
                    style="background:black; color:white; text-align:center">
                  {{item.title}}
                  <button class="btn btn-primary remove-button" 
                    (mousedown)="removeItem($event, item)"
                    (touchstart)="removeItem($event, item)">
                    X
                  </button>
                </div>
                <div class="stuff" style="display:block; width:100%; height:100%;">    
                    <app-barchart [(gristerChanged)]='itemChanged'></app-barchart>
                    <app-donought-chart></app-donought-chart>
                    <!-- <%= {{item.selector}} %> -->
                    {{item.selector}}
                </div>
              </div>
 
              <label *ngIf="!item.hasContent">{{item.label}}</label>
              <button class="btn btn-primary" *ngIf="!item.hasContent" (mousedown)="removeItem($event, item)"
                      (touchstart)="removeItem($event, item)">
               X
              </button>
            </div>
          </gridster-item>
        </gridster>
