gridster {
    background: #2c2c2ced;
}
gridster-item {
    color: white;
    background: #4b4a4a38;
    border: 1px solid #fefefe38;
}



::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
::-webkit-scrollbar
 {
     width: 6px;
     background-color: #F5F5F5;
 }
 
::-webkit-scrollbar-thumb
 {
     background-color: #000000;
 }

