<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<button (click)="_toggleSidebar()">Toggle sidebar</button>
<div class="main-container">
  <div>
      <ng-sidebar-container style="height: 100vh; background-color: #343a40" >
      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened" dock='true' dockedSize='40px' mode='push'>
          <app-side-navigation></app-side-navigation> 
      </ng-sidebar>
      <!-- Page content -->
      <div ng-sidebar-content>
        <div style="height:100vh">
            <router-outlet></router-outlet>
        </div>
       
      </div>
    </ng-sidebar-container>
  </div>
</div>
<app-footer></app-footer>


