/* You can add global styles to this file, and also import other style files */
.body{
    background: black;
}
.ng-sidebar{
    background: black !important;
}

.ng-sidebar__content{
    overflow: hidden !important;
}

 .gridster-item-resizable-handler.handle-se {
    border-color: transparent transparent #ccc !important;
}